#level_container {
    cursor: none;
    display: grid;
    opacity: 0;
    align-self: center;
    transition: opacity .4s ease-in-out;
}

.tile_container {
    position: absolute;
    overflow: hidden;

    img {
        position: absolute;
    }
}