#level_container {
    cursor: none;
    display: grid;
    align-self: center;
    transition: opacity .4s ease-in-out .2s;
    gap: 0;
    user-select: none;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.2);
}

.tile_container {
    position: absolute;
    overflow: hidden;

    img {
        position: absolute;
    }
}