#player_container {
    position: absolute;
    transition: opacity .4s ease-in-out .4s, top .2s linear, left .2s linear;
    align-self: center;
}

#masque_container {
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

#player {
    position: absolute;
    z-index: 10;
}